.project-card-container{
    width: 80%;
    margin: 30px 0;
    z-index: 10;
    min-width: 300px;
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-card-container img{
    width: 850px;
    height: 480px;
    border-radius: 10px;
    border-style: solid;
    position: absolute;
    transition: opacity 0.8s ease;
}

.project-card-container:hover img{
    opacity: 0.06;
    transition: opacity 0.8s ease;
}
.arrow-icon{
    transform: scale(3);
    margin: 0 120px;
    margin-bottom: 110px;
    width: 50%;
}
.arrow-icon-clicked{
    visibility: collapse;
    margin: 0 0;
    width: 0;
}


.project-card-container ul{
    text-align: left;
    width: 380px; 
    display: flex;
}
.seperators{
    width: 50%;
}

.project-description{
    height: 500px;
    padding: 0 10px 0 50px;
    font-size: 1rem;
    opacity: 0;
    transform: scale(0.5);
    visibility: collapse;
    transition: transform 0.4s ease-in;
    transition: opacity 0.4s ease-in;
    width: 0;
    margin: 0 0;
}
.project-description-clicked{
    margin: 40px 40px;
    /* margin-bottom: 110px; */
    visibility: hidden;
    text-align: left;
    transition: transform 0.4s ease-in;
    transition: opacity 0.4s ease-in;
    width: 500px;
    transform: scale(1);
    opacity: 1;
    transition: opacity 0.8s ease;
}

.project-card-container:hover .project-description-clicked {
    opacity: 1;
    visibility: visible;
    transition: all 0.8s ease-in;
}

.button-seperator{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
@media (max-width: 500px) {
    .project-card-container{
        flex-direction: column;
        justify-content: center;
        margin: 0 0;
    }
    .project-card-container img{
        margin-bottom: 10px;
    }
    .project-description{
        max-width: 100%;
        padding: 0 0 0 0;
    }
}
